<ul>
  <li>
    <input type="checkbox" ngModel="state.broadbandChecked">Broadband
  </li>
  <li>
    <input type="checkbox" ngModel="state.tvChecked">TV
  </li>
  <li>
    <input type="checkbox" ngModel="state.mobileChecked">Mobile
  </li>
</ul>

<div class="selects">
  Speed
  <select>
    <option value="0">0</option>
    <option value="1">1</option>
  </select>
  Mobile Data
  <select>
    <option value="0">0</option>
    <option value="1">1</option>
    <option value="2">2</option>
  </select>
</div>