:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #101010;
}

@media only screen and (min-width: 1261px) {
  .reactive {
    width: 1260px;
    background: yellowgreen;
  }
}

@media only screen and (min-width: 961px) and (max-width: 1260px) {
  .reactive {
    width: 100%;
    background: dodgerblue;
  }
}

@media only screen and (max-width: 960px) {
  .reactive {
    width: 100%;
    background: limegreen;
  }
}

#main {
  display: flex;
  //background: pink;
}

#filters {
  height: 200px;
  //background: turquoise;
}

#grid {
  flex: 1;
  //background: orangered;
}