<div *ngIf="isMobile" class="vert">
  <div *ngFor="let d of filteredDeals" class="panel">
    <div>{{ d.title }}</div>
    <div>{{ d.contractLength }}months</div>
    <div>{{ d.speed }} {{ d.usage }}</div>
    <div>
      <img [src]="d.logo" />
    </div>
    <div>
      <div *ngIf="d.isTV" class="channels start">
        <img *ngFor="let img of d.channelLogos" [src]="img" />
      </div>
      <div *ngIf="!d.isTV">N/A</div>
    </div>
    <div>
      <div *ngIf="d.isMobile" class="data start">
        <div>Data: {{ d.data }}</div>
        <div>Minutes: {{ d.minutes }}</div>
        <div>Texts: {{ d.texts }}</div>
        <div>Connection: {{ d.connectionType }}</div>
        <div *ngIf="!d.isMobile">N/A</div>
      </div>
    </div>
    <td>&#163;{{ d.totalCost }}</td>
  </div>
</div>

<table *ngIf="!isMobile">
  <tr>
    <th>About</th>
    <th>contract length</th>
    <th>speed/usage</th>
    <th>Offer</th>
    <th>TV</th>
    <th>Mobile</th>
    <th>Cost</th>
  </tr>
  <tr *ngFor="let d of filteredDeals">
    <td class="title">{{ d.title }}</td>
    <td>{{ d.contractLength }}months</td>
    <td>{{ d.speed }} {{ d.usage }}</td>
    <td><img [src]="d.logo"/></td>
    <td>
      <div *ngIf="d.isTV" class="channels center">
        <img *ngFor="let img of d.channelLogos" [src]="img"/>
      </div>
      <div *ngIf="!d.isTV">N/A</div>
    </td>
    <td>
      <div *ngIf="d.isMobile" class="data center">
        <div>Data: {{ d.data }}</div>
        <div>Minutes: {{ d.minutes }}</div>
        <div>Texts: {{ d.texts }}</div>
        <div>Connection: {{ d.connectionType }}</div>
      </div>
      <div *ngIf="!d.isMobile">N/A</div>
    </td>
    <td>&#163;{{ d.totalCost }}</td>
  </tr>
</table>