table {
  width: 100%;
  table-layout: fixed;
}

td {
  text-align: center;
}

.start {
  align-items: flex-start;
}
.center {
  align-items: center;
}

.channels {
  display: flex;
  flex-direction: column;
  img {
    padding: 2px 0px;
  }
}

.data {
  display: flex;
  flex-direction: column;
}

.vert {
  display: flex;
  flex-direction: column;
}

.panel {
  margin: 20px;
  padding: 20px;
  background: #ececec;
  box-shadow: 0px 10px 30px 1px rgba(0,0,0,0.75);
}